/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env


app/Console
app/Events
app/Exceptions
app/Http/Controllers/Auth
app/Middleware
app/Requests
app/Http/Kernel.php
app/Jobs
app/Providers